<div class="container">
  <h1 style="margin-top: 30px">Thay Đổi Thông Tin Tác Giả</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
  <div class="col-m">
    <div class="container" style="width: 50%">
      <div>
        <h3>Tên Tác Giả</h3>
        <input
          #name
          type="text"
          class="form-control"
          [(ngModel)]="author.name"
          placeholder="Devil K"
        />
      </div>
      <div>
        <h3>Họ</h3>
        <input
          #firstname
          type="text"
          class="form-control"
          [(ngModel)]="author.firstname"
          placeholder="Trần"
        />
      </div>
      <div>
        <h3>Tên</h3>
        <input
          #lastname
          type="text"
          class="form-control"
          [(ngModel)]="author.lastname"
          placeholder="Quang Tân"
        />
      </div>
      <div>
        <label></label>
        <button
          class="btn btn-secondary btn-circle pull-right"
          style="margin-top: 15px; margin-left: 10px"
          title="Add"
          [routerLink]="['/admin/listauthor']"
        >
          Back <i class="fas fa-undo"></i>
        </button>
        <button
          class="btn btn-success btn-circle pull-right"
          style="margin-top: 15px"
          title="Add"
          type="submit"
          (click)="save()"
        >
          Save<i class="fa fa-check-square-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>
