<div class="container">
  <h1 style="margin-top: 30px">Thay Đổi Thông Tin Sách</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
  <div class="col-m">
    <div class="container" style="width: 50%">
      <div>
        <h3>Tựa sách</h3>
        <input
          #title
          type="text"
          class="form-control"
          [(ngModel)]="book.title"
          placeholder="Devil K"
        />
      </div>
      <div>
        <h3>Mô tả</h3>
        <input
          #description
          type="text"
          class="form-control"
          [(ngModel)]="book.description"
          placeholder="Trần"
        />
      </div>
      <div>

        <h3>Ngày Xuất Bản</h3>
        <input
          #publishDate
          type="date"
          class="form-control"
          [ngModel]="book.publishDate | date:'yyyy-MM-dd'"
          placeholder="ngày xuất bản"

        />
      </div>
      <div>
        <h3>Số Trang</h3>
        <input
          #pageCount
          type="number"
          class="form-control"
          [(ngModel)]="book.pageCount"
          placeholder="Trần"
        />
      </div>
      <div>
        <h3>Giá</h3>
        <input
          #price
          type="number"
          class="form-control"
          [(ngModel)]="book.price"
          placeholder="Trần"
        />
      </div>
      <div>
        <h3>Giảm Giá</h3>
        <input
          #discount
          type="number"
          class="form-control"
          [(ngModel)]="book.discount"
          placeholder="Trần"
        />
      </div>
      <div>
        <h3>Số lượng có sẵn</h3>
        <input
          #availableQuantity
          type="number"
          class="form-control"
          [(ngModel)]="book.availableQuantity"
          placeholder="Trần"
        />
      </div>
      <div >
        <h3>Tên Tác Giả</h3>
        <select class="custom-select" #author1 >
          <option
            *ngFor="let aut of author"
            [value]="aut._id"
            [selected]="aut._id === book.author._id"
          >
            {{ aut.name }}
          </option>
        </select>
      </div>
      <div>
        <h3>Nhà Xuất Bản</h3>
        <select class="custom-select" #publisher1>
          <option
            *ngFor="let pub of pub"
            [value]="pub._id"
            [selected]="pub._id === book.publisher._id"
          >
            {{ pub.name }}
          </option>
        </select>
      </div>
      <div>
        <h3>Thể Loại</h3>
        <div class="form-check form-check-inline"  *ngFor="let item of book.categories">
          <input type="checkbox"  class="form-check-input" checked  (change)="onChange($event.target.value, $event.target.checked)" #cat/>
            <label class="form-check-label" >{{ item.name }}</label>
        </div>

        <div *ngIf="MoreCat">
          <div class="form-check form-check-inline"  *ngFor="let cate of cate;">
            <input type="checkbox" id="{{cate.name}}" value="{{cate._id}}" class="form-check-input"   (change)="onChange($event.target.value, $event.target.checked)"/>
              <label class="form-check-label" for="{{cate.name}}">{{ cate.name }}</label>
          </div>
        </div>
        <button *ngIf="!MoreCat" (click)="pushCat()">Xem thêm</button>

        <!-- <div class="form-check form-check-inline"  *ngFor="let cate of cate;">
          <input type="checkbox" id="{{cate.name}}" value="{{cate._id}}" class="form-check-input"   (change)="onChange($event.target.value, $event.target.checked)"/>
            <label class="form-check-label" for="{{cate.name}}">{{ cate.name }}</label>
        </div> -->

      </div>
      <div>
        <h3>Ảnh</h3>
        <img src="{{ book.imageUrl }}" class="backgr" />
        <input
        #image
        name="image"
        type="file"
        accept="images/*"
        [(ngModel)]="book.image"
        (change)="handleFileInput($event.target.files)"
        class="form-control"
      />
      </div>
      <!-- <div>
                      <div class="form-group">
                      <input #image name="image" type="file"  accept="images/*" (change)="handleFileInput($event.target.files)" class="form-control"  >
                </div> -->

      <div>
        <label></label>
        <button
          class="btn btn-secondary btn-circle pull-right"
          style="margin-top: 15px; margin-left: 10px"
          title="Add"
          [routerLink]="['/admin/listbook']"
        >
          Back <i class="fas fa-undo"></i>
        </button>
        <button class="btn btn-success btn-circle pull-right" style="margin-top: 15px;" title="Add"
                type="submit" (click)="save1(title.value, description.value,publishDate.value, pageCount.value,
                    price.value, availableQuantity.value, publisher1.value, author1.value, discount.value, FileUpload)" >
                    Save<i class="fa fa-check-square-o"></i></button>
        <!-- <button
          class="btn btn-success btn-circle pull-right"
          style="margin-top: 15px"
          title="Add"
          type="submit"
          (click)="save()"
        >
          Save<i class="fa fa-check-square-o"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>
