<div class="container">
    <div style="margin-top: 25px;" >
        <button class="btn btn-success btn-circle pull-left" routerLink="/admin/addbook"  title="Add CLass" type="submit">Add<i class="fas fa-plus"></i></button>
    </div>
<div style="margin-top:10px;" class="table-responsive" >
      <table class="table table-bordered" >
        <thead>
            <tr>
              <th>name</th>
              <th>firstname</th>
              <th>lastname</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let au of authors">
              <td>{{au.name}}</td>
              <td>{{au.firstname}}</td>
              <td>{{au.lastname}}</td>
              <td style="width: 90px;">
                  <i class="fas fa-edit" style="margin-right: 10px;"
                   title="Edit"></i>
                  <i class="fas fa-trash"
                     title="Delete"></i>
              </td>
            </tr>
        </tbody>
    </table>

    </div>
  </div>
