
<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Đăng Ký</h1>
      <p class="lead">Hãy đăng kí để trở thành khách hàng thân thiết của cửa hàng chúng tôi!</p>
    </div>

  </div>
    <!--login-->

      <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile">
              <h3>Đăng Ký</h3>
              <form action="#" method="post">
                  <div class="key">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <input  type="text" value="Username" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
                      <div class="clearfix"></div>
                    </div>
                    <div class="key">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <input  type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                      <div class="clearfix"></div>
                    </div>
                <div class="key">
                    <i class="fa fa-lock" style="padding: 17px; height: 10px;"aria-hidden="true"></i>
                    <input  type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                  </div>
                  <div class="key">
                    <i class="fa fa-lock"style="padding: 17px; height: 10px;" aria-hidden="true"></i>
                    <input  type="password" value="Confirm Password" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                    <div class="clearfix"></div>
                  </div>
                <input type="submit" value="Đăng Ký" >
              </form>
            </div>

          </div>
        </div>
