.jumbotron {
  background-color: #353535;
  margin-top: 3px;
  padding: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.login {
  padding: 4em 0;
}

.main-agileits {
  width: 30%;
  margin: 0em auto;
  box-shadow: 0px 0px 15px 0px #d6d6d6;
  -o-box-shadow: 0px 0px 15px 0px #d6d6d6;
  -moz-box-shadow: 0px 0px 15px 0px #d6d6d6;
  -webkit-box-shadow: 0px 0px 15px 0px #d6d6d6;
  padding: 3em;
}

.form-w3agile h3 {
  color: #029241;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1.5em;
}

.form-w3agile input[type="submit"]:hover {
  background: #029241;
}

.form-w3agile input[type="submit"] {
  background: #fdb515;
  color: #ffffff;
  padding: 10px 0;
  margin-bottom: 25px;
  font-size: 1em;
  width: 50%;
  border-radius: 10px;
  margin-left: 25%;
}

.card-header {
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
}
.body-all {
  min-height: 100vh;
  background-color: #e4f0ec;
}

.card {
  border-top: 5px solid #ebab23df;
}
.col-form-label {
  font-size: 18px;
}

span {
  color: red;
}
.form-control {
  border-radius: 10px;
}
.btn-danger {
  border-radius: 10px;
}
.container-fluid {
  background-color: #7bddbc;
}
.custom-control {
  margin-top: 5px;
  font-size: 18px;
}
.intro {
  background-color: white;
  height: 30rem;
}
.info {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.title {
  font-size: 28px;
  font-family: "Roboto Mono", monospace;
  color: #f5ae14df;
}
.sub-title {
  font-size: 18px;
  color: #ebb667df;
}
