
<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Đăng Ký</h1>
      <p class="lead">Hãy đăng kí để trở thành khách hàng thân thiết của cửa hàng chúng tôi!</p>
    </div>

  </div>


      <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile">
              <h3>Đăng Ký</h3>
              <form action="#" method="post">
                  <div class="key">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <input #gmail type="text" placeholder="Email: *@gmail.com">
                      <div class="clearfix"></div>
                    </div>
                    <div class="key">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <input #password type="password"  placeholder="password">
                      <div class="clearfix"></div>
                    </div>
                <input type="submit" value="Đăng Ký" (click)="signup(gmail.value, password.value)" >
              </form>
            </div>

          </div>
        </div>
