<div style="margin-right: 50px; margin-left: 50px">
  <h1 style="margin-top: 30px">Danh Sách Đánh Giá</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
  <div style="margin-bottom: 50px"></div>
  <div style="margin-top: 10px" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>Tên Sách</th>
          <th>Bình Luận</th>
          <th>Đánh Giá</th>
          <th>Ngày</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rv of reviews | paginate: config; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ rv.bookId.title }}</td>
          <td>{{ rv.comment }}</td>
          <td>
            <b>{{ rv.review }}</b
            ><i class="fas fa-star" style="margin-left: 10px"></i>
          </td>
          <td>{{ rv.date | date: 'dd/MM/yyyy' }}</td>
          <td style="width: 90px">
            <i
              class="fas fa-trash"
              (click)="delete(rv.comment, rv._id)"
              title="Delete"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      style="text-align: center"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
</div>
