<body>
  <div class="header">

      <div class="container">

        <div class="logo">
          <h1 ><a [routerLink]="['/home']"><b>T<br>H<br>E</b>{{title}}<span>The Best Store Online</span></a></h1>
        </div>

          <ul class="c">
            <!-- <li><a [routerLink]="['/cart']" ><i class="fa fa-heart" aria-hidden="true"></i>Giỏ hàng</a></li> -->
            <li><a [routerLink]="['/login']" ><i class="fa fa-user" aria-hidden="true"></i>Đăng Nhập</a></li>
            <!-- <li><a [routerLink]="['/register']"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đăng Ký</a></li> -->
          </ul>



      <div class="header-ri">
				<ul class="social-top">
					<li><a href="https://www.facebook.com/koolsssssss" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
					<li><a href="https://www.facebook.com/hung.lu1998" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>

				</ul>
      </div>


     

  </div>
</div>
<router-outlet></router-outlet>


<!--footer-->
<div class="footer" style="margin-top: 100px;">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-md-3 footer-grid">
          <h3>About Us</h3>
          <p>Tuyển tập những bộ sách hay và mới nhất hiện nay.
            Đảm bảo trải nghiệm tốt cho người dùng.</p>
        </div>
        <div class="col-md-3 footer-grid ">
          <h3>Menu</h3>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/books/5de91ca4e3ef6d4d6856645d/categories/Văn Học">Sách Tiếng Việt</a></li>
            <li><a routerLink="/books/5de763dec9e5f738e8b048aa/publishers/Nhà xuất bản Trẻ">Nhà Xuất Bản</a></li>
            <li><a routerLink="/books/5de90654e004934a94e6937b/authors/Nguyễn Nhật Ánh">Tác Giả</a></li>

          </ul>
        </div>
        <div class="col-md-3 footer-grid ">
          <h3>Dịch Vụ</h3>
          <ul>
            <li><a href="https://www.facebook.com/koolsssssss">Liên Hệ</a></li>


          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>My Account</h3>
          <ul>
            <li><a routerLink="/login">Đăng nhập</a></li>
          </ul>
        </div>
      <div class="clearfix"></div>
      </div>
        <div class="footer-bottom">
          <h2 ><a routerLink="/home"><b>T<br>H<br>E</b>Book Store<span>The Best Store Online</span></a></h2>
          <p class="fo-para">Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn</p>
          <ul class="social-fo">
            <li><a href="https://www.facebook.com/koolsssssss" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/hung.lu1998" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
          <div class=" address">
              <div class="row justify-content-start">
            <div class="col-md-4 fo-grid1">
                <p><i class="fa fa-home" aria-hidden="true"></i>Thủ Đức</p>
            </div>
            <div class="col-md-4 fo-grid1">
                <p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
            </div>
            <div class="col-md-4 fo-grid1">
              <p><a href="https://angular.io/"><i class="fa fa-envelope-o" aria-hidden="true"></i>angular@gmail.com</a></p>
            </div>
            <div class="clearfix"></div>
            </div>
            </div>
        </div>

    </div>
  </div>


</body>
