<body>
  <div class="header">

      <div class="container">

        <div class="logo">
          <h1 ><a [routerLink]="['/home']"><b>T<br>H<br>E</b>{{title}}<span>The Best Store Online</span></a></h1>
        </div>

          <ul class="c">
            <li><a [routerLink]="['/cart']" ><i class="fa fa-heart" aria-hidden="true"></i>Giỏ hàng</a></li>
            <li><a [routerLink]="['/login']" ><i class="fa fa-user" aria-hidden="true"></i>Đăng Nhập</a></li>
            <li><a [routerLink]="['/register']"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đăng Ký</a></li>
          </ul>



      <div class="header-ri">
				<ul class="social-top">
					<li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
				</ul>
      </div>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/home']"><img src="https://donghuongkontum.files.wordpress.com/2015/02/logo-sc3a1ch.jpeg?w=589&h=589" style="width: 30px; height: 30px;"alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <div class="nav-top">
        <nav class="navbar navbar-default">
        <div class="ccc" >
          <ul class="nav navbar-nav ">
            <li class=" active"><a [routerLink]="['/home']" class="hyper "><span>Trang Chủ</span></a></li>

            <li class="dropdown ">
              <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Sách Tiếng Việt<b class="caret"></b></span></a>
              <ul class="dropdown-menu multi">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="multi-column-dropdown">

                      <li><a [routerLink]="['/book1']"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Văn Học</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Kinh Tế</a></li>
                      <li><a href="kitchen.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Sách Kỹ Năng Sống</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Khoa học</a></li>

                    </ul>

                  </div>
                  <div class="col-sm-3">

                    <ul class="multi-column-dropdown">
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Văn Học</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Văn Học</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Văn Học</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Văn Học</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sách Văn Học</a></li>

                    </ul>

                  </div>
                  <div class="col-sm-3">

                    <ul class="multi-column-dropdown">
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>A</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>B</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>C</a></li>
                      <li><a href="kitchen.html"><i class="fa fa-angle-right" aria-hidden="true"></i>D</a></li>

                    </ul>
                  </div>
                  <div class="col-sm-3 w3l">
                    <a [routerLink]="['/home']"><img src="https://khosachxua.files.wordpress.com/2016/03/cropped-sachcu.jpg" class="img-responsive" alt=""></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ul>
            </li>
            <li class="dropdown">

              <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Nhà Xuất Bản <b class="caret"></b></span></a>
              <ul class="dropdown-menu multi multi1">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Kim Đồng </a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>NXB Trẻ</a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Nhã Nam</a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Thái Hà</a></li>

                    </ul>

                  </div>
                  <div class="col-sm-3">

                    <ul class="multi-column-dropdown">
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Kim Đồng </a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>NXB Trẻ</a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Nhã Nam</a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Thái Hà</a></li>

                    </ul>

                  </div>
                  <div class="col-sm-3">

                    <ul class="multi-column-dropdown">
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Kim Đồng </a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>NXB Trẻ</a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Nhã Nam</a></li>
                      <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Thái Hà</a></li>

                    </ul>
                  </div>
                  <div class="col-sm-3 w3l">
                    <a href="care.html"><img src="images/me1.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Tác Giả<b class="caret"></b></span></a>
              <ul class="dropdown-menu multi multi2">
                <div class="row">
                  <div class="col-sm-3">
                    <ul class="multi-column-dropdown">
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Nhiều Tác Giả</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Tác Giả Nước Ngoài</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Julia Donalson</a></li>
                      <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Nguyễn Nhật Ánh</a></li>

                    </ul>

                  </div>

                  <div class="col-sm-3 w3l">
                    <a href="hold.html"><img src="images/me2.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ul>
            </li>


            <li>
                <div class="cart" >
              <a [routerLink]="['/cart']"><span class="fa fa-shopping-cart my-cart-icon"></span></a>
            </div></li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  </nav>

  </div>
</div>
<router-outlet></router-outlet>


<!--footer-->
<div class="footer">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-md-3 footer-grid">
          <h3>About Us</h3>
          <p>Tuyển tập những bộ sách hay và mới nhất hiện nay.
            Đảm bảo trải nghiệm tốt cho người dùng.</p>
        </div>
        <div class="col-md-3 footer-grid ">
          <h3>Menu</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="kitchen.html">Sách Tiếng Việt</a></li>
            <li><a href="care.html">Nhà Xuất Bản</a></li>
            <li><a href="hold.html">Tác Giả</a></li>

          </ul>
        </div>
        <div class="col-md-3 footer-grid ">
          <h3>Dịch Vụ</h3>
          <ul>
            <li><a href="shipping.html">Liên Hệ</a></li>


          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>My Account</h3>
          <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="wishlist.html">Cart</a></li>
          </ul>
        </div>
      <div class="clearfix"></div>
      </div>
        <div class="footer-bottom">
          <h2 ><a href="index.html"><b>T<br>H<br>E</b>Book Store<span>The Best Store Online</span></a></h2>
          <p class="fo-para">Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn</p>
          <ul class="social-fo">
            <li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          </ul>
          <div class=" address">
              <div class="row justify-content-start">
            <div class="col-md-4 fo-grid1">
                <p><i class="fa fa-home" aria-hidden="true"></i>Thủ Đức</p>
            </div>
            <div class="col-md-4 fo-grid1">
                <p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
            </div>
            <div class="col-md-4 fo-grid1">
              <p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>angular@gmail.com</a></p>
            </div>
            <div class="clearfix"></div>
            </div>
            </div>
        </div>

    </div>
  </div>


</body>
