<div style="margin-right: 50px; margin-left: 50px">
  <h1 style="margin-top: 30px">Danh sách Sách</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
  <div style="margin-bottom: 50px">
    <button
      class="btn btn-success btn-circle pull-left"
      routerLink="/admin/addbook"
      title="Add CLass"
      type="submit"
    >
      Thêm<i class="fas fa-plus"></i>
    </button>
  </div>
  <div style="margin-top: 10px" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>Tiêu Đề</th>
          <th>Tác Giả</th>
          <th>Nhà xuất bản</th>
          <th>Ngày xuất bản</th>
          <th>Giá</th>
          <th>Có sẵn</th>
          <th>Ảnh</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let each of books | paginate: config; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ each.title }}</td>
          <td>{{ each.author.name }}</td>
          <td>{{ each.publisher.name }}</td>
          <td>{{ each.publishDate | date: "dd/MM/yyyy" }}</td>
          <td>{{ each.price }}</td>
          <td>{{ each.availableQuantity }}</td>
          <td><img src="{{ each.imageUrl }}" class="backgr" /></td>
          <td style="width: 90px">
            <i
              class="fas fa-edit"
              style="margin-right: 10px"
              title="Edit"
              routerLink="/admin/editbook/{{ each._id }}"
            ></i>
            <i
              class="fas fa-trash"
              (click)="delete(each.title, each._id)"
              title="Delete"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      style="text-align: center"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
</div>
