<div class="jumbotron">
  <div class="container">

    <h1 class="display-4">Chi Tiết Sản Phẩm</h1>
    <p class="lead">chi tiết sản phẩm!</p>
  </div>

</div>

<div class="container">
    <div class="col-m">
      <div class="row">
      <div class="col-5">
          <a  class="offer-img">
              <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/6/1/61_1.jpg" class="img-responsive" alt="">
            </a>
      </div>

      <div class="col-7">
          <div class="single-right">
            <h3>Conan</h3>
            <div class="pr-single">
              <p class="reduced"><del>$10.00</del>$5.00</p>
            </div>

            <p class="in-pa"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>

            <div class="add add-3">
              <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="Wheat" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/si.jpg">Add to Cart</button>
            </div>
      </div>
    </div>

      </div>
    </div>


</div>

