<div class="container">
    <nav class="navbar navbar-expand-sm" >
      <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/listbook']">Sách</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/listauthor']">Tác Giả</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/listcate']">Thể Loại</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/listreview']">Đánh Giá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/listpub']">Nhà Xuất Bản</a>
      </li>
      </ul>
    </nav>
  </div>

  <div class="container">
      <h1>Thay Đổi Thông Tin Thể Loại</h1>
      <div class="col-m">

          <div class="container" style="width:50%;">
                <div >
                  <h3>Tên Thể Loại Sách</h3>
                  <input #name type="text" class="form-control" [(ngModel)]="cate.name"  placeholder="Tình Cảm" >
                </div>
                <div>
                  <label></label>
                  <button class="btn btn-secondary btn-circle pull-right" style="margin-top: 15px; margin-left: 10px;" title="Add"
                     [routerLink]="['/admin/listcate']" >Back <i class="fas fa-undo"></i></button>
                  <button class="btn btn-success btn-circle pull-right" style="margin-top: 15px;" title="Add"
                    type="submit" (click)="save()" >Save<i class="fa fa-check-square-o"></i></button>
                </div>
            </div>


         </div>


  </div>


