<div class="container">
  <h1 style="margin-top: 30px">Thêm Thể Loại</h1>
  <div class="ser-t">
    <b></b>
    <span><i></i></span>
    <b class="line"></b>
  </div>
  <div class="col-m">
    <div class="container" style="width: 50%">
      <div>
        <h3>Tên Thể Loại Sách</h3>
        <input #name type="text" class="form-control" placeholder="Tình cảm" />
      </div>
      <div>
        <label></label>
        <button
          class="btn btn-secondary btn-circle pull-right"
          style="margin-top: 15px; margin-left: 10px"
          title="Back"
          [routerLink]="['/admin/listcate']"
        >
          Back <i class="fas fa-undo"></i>
        </button>
        <button
          class="btn btn-success btn-circle pull-right"
          style="margin-top: 15px"
          title="Add"
          type="submit"
          (click)="save(name.value)"
        >
          Save<i class="fa fa-check-square-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>
